@import url("./variables.css");
@import url("./media-queries.css");
@import url("./blog.css");

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--primary-bg-color);
  padding: 5px 10px;
  min-height: 60px;
}

footer {
  height: 30px;
  width: 100%;
  background-color: var(--primary-bg-color);
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-cards {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-auto-rows: minmax(300px, auto);
  margin-bottom: 10px;
}

main {
  padding-bottom: 60px;
}

.card {
  min-width: var(--card-width);
  margin: 10px;
  border: 2px solid var(--primary-bg-color);
  box-shadow: 5px 5px 5px var(--card-shadow-color);
  border-radius: 5px;
  padding: 25px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-topic {
  color: var(--card-topic-color);
}

.card h2 {
  margin-bottom: 5px;
  margin-top: 10px;
}
