:root {
  /* Colors */
  --primary-bg-color: #edf0ee;
  --card-topic-color: yellowgreen;
  --card-shadow-color: #eee;

  /* Breakpoints */
  --card-width: 30%;
  --columns: 3;
  --blog-columns: 4fr;
  --aside-columns: 1fr;
}
